<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.phomellolitepos"
    android:versionCode="77"
    android:versionName="10.78">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.pos.permission.PRINTER" />
    <uses-permission android:name="com.pos.permission.COMMUNICATION" />
    <uses-permission android:name="com.pos.permission.SECURITY" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_RFREGISTER" />
    <uses-permission android:name="com.pos.permission.EMVCORE" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_DATETIME" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_LED" />
    <uses-permission android:name="com.pos.permission.ACCESSORY_BEEP" />
    <uses-permission android:name="com.pos.permission.CARD_READER_ICC" />
    <uses-permission android:name="com.pos.permission.CARD_READER_PICC" />
    <uses-permission android:name="com.pos.permission.CARD_READER_MAG" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_92"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <uses-library
            android:name="com.odm"
            android:required="false" />
        <uses-library
            android:name="com.pos.sdk"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemCategoryActivity"
            android:label="@string/title_activity_item_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceptActivity"
            android:label="@string/title_activity_recept"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewOrderActivity"
            android:label="@string/title_activity_view_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetttingsActivity"
            android:label="@string/title_activity_setttings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePriceActivity"
            android:label="@string/title_activity_change_price"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryListActivity"
            android:label="@string/title_activity_category_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_activity_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivateEmailActivity"
            android:label="@string/title_activity_activate_email"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivateActivity"
            android:label="@string/title_activity_activate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RetailActivity"
            android:label="@string/title_activity_retail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainCategoryListActivity"
            android:label="@string/title_activity_mian_category_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".printer.PrintLayout"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReceptDetailActivity"
            android:label="@string/title_activity_recept_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataBaseActivity"
            android:label="@string/title_activity_data_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemSummaryActivity"
            android:label="@string/title_activity_item_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiniPOSTestActivity"
            android:label="@string/title_activity_mini_postest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadJson"
            android:label="@string/title_activity_read_json"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BussinessGroupActivity"
            android:label="@string/title_activity_bussiness_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactActivity"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BussinessGroupListActivity"
            android:label="@string/title_activity_bussiness_group_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BussinessGroupCheckListActivity"
            android:label="@string/title_activity_bussiness_group_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManufactureActivity"
            android:label="@string/title_activity_manufacture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManufactureListActivity"
            android:label="@string/title_activity_manufacture_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemCheckListActivity"
            android:label="@string/title_activity_item_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaxActivity"
            android:label="@string/title_activity_tax"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaxListActivity"
            android:label="@string/title_activity_tax_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderTypeListActivity"
            android:label="@string/title_activity_order_type_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemGroupCheckListActivity"
            android:label="@string/title_activity_item_group_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrderTypeCheckListActivity"
            android:label="@string/title_activity_order_type_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactCheckListActivity"
            android:label="@string/title_activity_suppier_group_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagerActivity"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpeningBalanceActivity"
            android:label="@string/title_activity_opening_balance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpensesListActivity"
            android:label="@string/title_activity_expenses_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpensesActivity"
            android:label="@string/title_activity_expenses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".X_ZActivity"
            android:label="@string/title_activity_x__z"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserListActivity"
            android:label="@string/title_activity_user_llist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BluetoothDeviceListActivity"
            android:label="@string/title_activity_bluetooth_device_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name="sunmi.ds.MsgReceiver">
            <intent-filter>
                <action android:name="com.sunmi.hcservice" />
                <action android:name="com.sunmi.hcservice.status" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ShutDownBroadcastRecevier">
            <intent-filter android:priority="1000">
                <action android:name="com.sunmi.action_shutdown_client" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaxCheckListActivity"
            android:label="@string/title_activity_tax_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReservationActivity"
            android:label="@string/title_activity_reservation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReservationListActivity"
            android:label="@string/title_activity_reservation_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReservationItemCheckListActivity"
            android:label="@string/title_activity_reservation_item_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerImageActivity"
            android:label="@string/title_activity_customer_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentCollectionActivity"
            android:label="@string/title_activity_payment_collection"
            android:theme="@style/AppTheme.NoActionBar" />

<!--        <receiver-->
<!--            android:name=".Util.BootStartUpReciever"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <activity
            android:name=".PayCollectionListActivity"
            android:label="@string/title_activity_pay_collection_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemTaxActivity"
            android:label="@string/title_activity_item_tax"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentSplitActivity"
            android:label="@string/title_activity_payment_split"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchOrderActivity"
            android:label="@string/title_activity_search_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UnitListActivity"
            android:label="@string/title_activity_unit_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UnitActivity"
            android:label="@string/title_activity_unit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserParmissionCheckListActivity"
            android:label="@string/title_activity_user_parmission_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportViewerActivity"
            android:label="@string/title_activity_report_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YouTubeVideoListActivity"
            android:label="@string/title_activity_you_tube_video_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountsListActivity"
            android:label="@string/title_activity_accounts_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StockAdjestmentListActivity"
            android:label="@string/title_activity_stock_adjestment_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StockAdjestmentHeaderActivity"
            android:label="@string/title_activity_stock_adjestment_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StockAdjestmentFinalActivity"
            android:label="@string/title_activity_stock_adjestment_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerReturnListActivity"
            android:label="@string/title_activity_return_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CusReturnHeaderActivity"
            android:label="@string/title_activity_return_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CusReturnFinalActivity"
            android:label="@string/title_activity_return_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseListActivity"
            android:label="@string/title_activity_purchase_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseHeaderActivity"
            android:label="@string/title_activity_purchase_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PurchaseFinalActivity"
            android:label="@string/title_activity_purchase_final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PusrchasePaymentActivity"
            android:label="@string/title_activity_pusrchase_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendLogActivity"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name=".SendLogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicketSolution.TicketActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
     Add this activity to your manifest
     it comes with the Paytm SDK
        -->
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicketSolution.TicketListActivity"
            android:label="@string/title_activity_ticket_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketSolution.TicketPaymentActivity"
            android:label="@string/title_activity_ticket_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketCategoryActivity"
            android:label="@string/title_activity_ticket_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketSetupActivity"
            android:label="@string/title_activity_ticket_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketSetupListActivity"
            android:label="@string/title_activity_ticket_setup_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketSetupTaxCheckListActivity"
            android:label="@string/title_activity_ticket_setup_tax_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketSetupCategoryCheckListActivity"
            android:label="@string/title_activity_ticket_setup_category_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketSetupDaysCheckListActivity"
            android:label="@string/title_activity_ticket_setup_days_check_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassDestinationListActivity"
            android:label="@string/title_activity_class_destination_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TicketingActivity"
            android:label="@string/title_activity_ticteting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProLoyaltySetupActivity"
            android:label="@string/title_activity_pro_loyalty_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CouponListActivity"
            android:label="@string/title_activity_coupon_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CouponSetupActivity"
            android:label="@string/title_activity_coupon_setup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CouponGenerateActivity"
            android:label="@string/title_activity_coupon_generate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReturnOptionActivity"
            android:label="@string/title_activity_return_option"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvReturnListActivity"
            android:label="@string/title_activity_inv_return_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvReturnHeaderActivity"
            android:label="@string/title_activity_inv_return_header"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InvReturnFinalActivity"
            android:label="@string/title_activity_inv_return_final"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>